# Jewelry Analysis

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
data = pd.read_csv("jewellery.csv")

### Data Cleanising

In [3]:
# Inspect dataframe
data.head(3)

,Order datetime,Order ID,Purchased product ID,Quantity,Category ID,Category alias,Brand ID,Price in USD,User ID,Product gender,Main color,Main metal,main gem
0,2018-12-01 11:40:29 UTC,1.924720e+18,1.842200e+18,1,1.806830e+18,jewelry.earring,0.0,561.51,1.515920e+18,NaN,red,gold,diamond
1,2018-12-02 13:53:42 UTC,1.925510e+18,1.842210e+18,1,1.806830e+18,jewelry.pendant,1.0,54.66,1.515920e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1.925630e+18,1.835570e+18,1,1.806830e+18,jewelry.pendant,0.0,88.90,1.515920e+18,f,red,gold,diamond

In [4]:
# Remove unnecessary columns
data = data.drop(columns=['Order ID', 'Purchased product ID', 'Quantity', 
                          'Category ID', 'Brand ID', 'User ID', 'Product gender'])

In [5]:
# Check for missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61434 entries, 0 to 61433
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order datetime  61434 non-null  object
 1   Category alias  60589 non-null  object
 2   Price in USD    61434 non-null  float64
 3   Main color      61434 non-null  object
 4   Main metal      61434 non-null  object
 5   main gem        61434 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.8+ MB

In [6]:
data['Category alias'].unique()

array(['jewelry.earring', 'jewelry.pendant', 'jewelry.necklace',
       'jewelry.ring', 'jewelry.brooch', 'jewelry.bracelet',
       'electronics.clocks', nan, 'jewelry.souvenir'], dtype=object)

In [7]:
# Cleanse Category column
data['Category alias'] = data['Category alias'].str.replace("jewelry.", "")
data['Category alias'].unique()

array(['earring', 'pendant', 'necklace', 'ring', 'brooch', 'bracelet',
       'electronics.clocks', nan, 'souvenir'], dtype=object)

In [8]:
# Change type of date columns
data['Order datetime'] = data['Order datetime'].astype(np.datetime64)

In [9]:
# Change date format to year
data['Order year'] = data['Order datetime'].dt.year
data['Order month'] = data['Order datetime'].dt.month_name()

# rename columns
data = data.rename(columns={'Category alias': 'Category', 'Price in USD': 'Price'})
data.head(3)

,Order datetime,Category,Price,Main color,Main metal,main gem,Order year,Order month
0,2018-12-01 11:40:29,earring,561.51,red,gold,diamond,2018,December
1,2018-12-02 13:53:42,pendant,54.66,white,gold,sapphire,2018,December
2,2018-12-02 17:44:02,pendant,88.90,red,gold,diamond,2018,December

In [10]:
data['Order year'].unique()

array([2018, 2019, 2020, 2021], dtype=int64)

In [11]:
df = pd.DataFrame(data[data['Order year'] == 2020].groupby(['Order month'])['Price'].sum())
df

                  Price
Order month
April         121526.24
August        684771.20
December     1800272.17
February      510954.53
January       437901.15
July          514314.69
June          316021.69
March         445728.05
May           123686.08
November      624044.05
October       614036.73
September     623345.39

In [12]:
year_list = list([i for i in data['Order year'].unique()])

In [13]:
year_list

[2018, 2019, 2020, 2021]